doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css")
  body
    nav.navbar
      div.navbar-brand
        a.navbar-item(href='/create')
    block content
