doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href="https://unpkg.com/purecss")
    title Pet Track
  body
    header
      ul
        li: a(href="/pets") Pets
        li: a(href="/owners") Owners
    main
      block mainContent
    footer
